<div class="center jumbotron">
  <h1>Salut Moussaillon!</h1>
  <h3>
    Voici un petite liste des autres moussailons !
  </h3>
  <%= link_to "c'est par ici Jeune moussaillon", 'corsairs', class: "btn btn-lg btn-primary" %>
</div>